*{
    padding: 0;
    margin: 0;
}

#slide{
    height:60vh;
    background-color:#edfdfd;

}

#slide img{
    height: 50vh;
    width: 500px;
    margin-left: 1100px;
    margin-top: 50px;
}

#slide h5{
    font-size: 60px;
    text-align: left;
    margin-left: 2px;
    font-weight: 600;
    font-family: sans-serif;
    color:mediumvioletred;
}

.para{
    height: 300px;
    width: 500px;
}

.para p{
    font-size: 25px;
    text-align: start;
    font-weight: 250;
    font-family: Tahoma;
}

.para button{
    height: 50px;
    width: 200px;
    margin-top: 10px;
    margin-right: 300px;
}

/*Media queries */
/* @media screen and (min-width: 480px){
    #slide{
        height:60vh;
        background-color:#edfdfd;
    }

    #slide img{
        height: 50vh;
        width: 500px;
        margin-left: 1100px;
        margin-top: 50px;
    }

    #slide h5{
        font-size: 60px;
        text-align: left;
        margin-left: 2px;
        font-weight: 600;
        font-family: sans-serif;
        color:mediumvioletred;
    }
    
    .para{
        height: 300px;
        width: 500px;
    }
    
    .para p{
        font-size: 25px;
        text-align: start;
        font-weight: 250;
        font-family: Tahoma;
    }
    
    .para button{
        height: 50px;
        width: 200px;
        margin-top: 10px;
        margin-right: 300px;
    }
} */